<header class="container text-center d-flex flex-column">
    <h1 class="pb-2">Life Helper</h1>
    <h5>"Jeder Tag ist eine neue Chance, das zu tun, was du möchtest." - <em>Friedrich Schiller</em></h5>
    <button mat-button class="logout px-md-5 px-lg-8" *ngIf="isLoggedIn()" (click)="onLogout()">
        Logout
    </button>
</header>
<nav class="container nav-container" disableRipple mat-tab-nav-bar>
    <div *ngIf="isLoggedIn() else authNav">
        <button class="link-button px-md-5 px-lg-8" mat-button mat-tab-link *ngFor="let link of linksArray" (click)="router.navigateByUrl(link)">
            {{links[link]}}
        </button>
    </div>
    <ng-template #authNav>
        <a mat-tab-link [routerLink]="['/auth']" [queryParams]="{type: 'register'}">
            Registrieren
        </a>
        <a mat-tab-link [routerLink]="['/auth']" [queryParams]="{type: 'login'}">
            Login
        </a>
    </ng-template>
</nav>
<div class="main container">
    <div *ngIf="isLoggedIn() else authForm">
        <router-outlet></router-outlet>
    </div>
    <ng-template #authForm>
        <app-auth></app-auth>
    </ng-template>
</div>

