<header class="container text-center">
    <h2>Life Helper</h2>
    <h5>"Jeder Tag ist eine neue Chance, das zu tun, was du möchtest." - <em>Friedrich Schiller</em></h5>
    <a mat-stroked-button class="logout" *ngIf="isLoggedIn()" (click)="onLogout()">
        Logout
    </a>
</header>
<nav class="container nav-container" mat-tab-nav-bar>
    <div *ngIf="isLoggedIn() else authNav">
        <a mat-tab-link *ngFor="let link of linksArray" (click)="router.navigateByUrl(link)">
            {{links[link]}}
        </a>
    </div>
    <ng-template #authNav>
        <a mat-tab-link [routerLink]="['/auth']" [queryParams]="{type: 'register'}">
            Registrieren
        </a>
        <a mat-tab-link [routerLink]="['/auth']" [queryParams]="{type: 'login'}">
            Login
        </a>
    </ng-template>
</nav>
<div class="main container">
    <div *ngIf="isLoggedIn() else authForm">
        <router-outlet></router-outlet>
    </div>
    <ng-template #authForm>
        <app-auth></app-auth>
    </ng-template>
</div>

